html{
  scroll-behavior: smooth;
}

body {
    margin: 1;
    padding: 0;
    font-family: montserrat;
    box-sizing: border-box;
    background-color:#f1f1f1
}
.center {
    position:absolute;
    right: 2%;
    top: 2%;
    width: auto;
    height: auto;
}

.pointerbee img{
    width: 60px;
    position: absolute;
    right: 24%;
    top: 2%;
}

.Contact {
    position: absolute;
    right: 1%;
    top: 100%;
}

header{
    font-size: 40px;
    margin-top: 5px;
    position: absolute;
    margin-left: 170px;
}
em{
    color: #9d3f3f;
}
img{
    float: left;
}
.Intro{
    position: relative;
    float: left;
    margin-top: 70px;
    margin-left: 50px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  margin-top: 220px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

.slider *{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .slider body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000116;
  }
  
  .slider{
    position: absolute;
    background: #000116;
    width: 800px;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    left: 50px;
    top: 98px;
    bottom: 10px;
    margin-top: 200px;
    margin-left: 20%;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 3s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
  
  .background1 img{
    position: relative;
    top: 300px;
    margin-left: -390px;
    width: 340px;
    height: 430px;
  }
  .background2 img{
    position: relative;
    top: 180px;
    margin-left: 1100px;
    width: 420px;

  }
  